[Unit]
Description=GamesCrafters Universal Web API

[Service]
User=ant1ng
WorkingDirectory=/home/ant1ng/GamesmanPuzzles/
ExecStart=/usr/bin/python3 -m puzzlesolver.server
Restart=on-failure
RestartSec=5
Environment=API_PORT=9001

[Install]
WantedBy=multi-user.target
